

img{
	width: 100%;
}
header{
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
}
body{
	padding-top: 0!important;
}
.top{
	margin-left: auto;
	margin-right: auto;
}
.navlist{
	float: right;
}
.navlist li{
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}
.navlist a{
	display: block;
	text-align: center;
	font-size: 18px;
	position: relative;
}
.navlist a:after{
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 12px;
	width: 100%;
	background: #fff;
	height: 2px;
	opacity: 0;
	transition: all 0.4s;
}
.navlist a:hover:after{
	bottom: 16px;
	opacity: 1;
}
.logo{
	box-sizing: content-box;
}
.logo a{
	display: block;
	background-size: 100% 100%!important;
}
.top>div{
	box-sizing: border-box;
	padding-left: 15px;
	padding-right: 15px;
}
.mycollapse span{
	display: block;
	width: 100%;
	height: 2px;
	background: #858585;
	margin: 4px auto;
}
.mycollapse:hover{
	background: #eee;
}

.only3:after{
	display: none!important;
}









/*nav*/

@media only screen and (min-width: 1200px) {
	header{
		height: 90px;
		background: none;
	}
	.top{
		max-width: 1000px;
	}
	.logo{
		margin-top: 17px;
		margin-bottom: 17px;
		width: 56px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.logo a{
		background: url(../img/logo-w@2x.png) no-repeat;
		width: 56px;
		height: 56px;
	}
	.navlist a{
		line-height: 90px;
		color: #fff;
	}
	.mycollapse{
		display: none;
	}
	.navlist{
		display: block!important;
		
	}
	
}
@media only screen and (min-width: 992px) and (max-width: 1200px){
	header{
		height: 90px;
		background: none;
	}
	.top{
		max-width: 90%;
	}
	.logo{
		margin-top: 17px;
		margin-bottom: 17px;
	}
	.logo a{
		background: url(../img/logo-w@2x.png) no-repeat;
		width: 56px;
		height: 56px;
		width: 56px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.mycollapse{
		display: none;
	}
	.navlist a{
		line-height: 90px;
		color: #fff;
	}
	.navlist{
		display: block!important;
		
	}
	
}
@media only screen and (min-width: 768px) and (max-width: 992px){
	header{
		height: 90px;
		background: none;
	}
	.top{
		max-width: 90%;
	}
	.logo{
		margin-top: 17px;
		margin-bottom: 17px;
		width: 56px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.logo a{
		background: url(../img/logo-w@2x.png) no-repeat;
		width: 56px;
		height: 56px;
		
	}
	.mycollapse{
		display: none;
	}
	.navlist a{
		line-height: 90px;
		color: #fff;
	}
	.navlist{
		display: block!important;
	}
	#banner{
		background-size: 120%!important;
	}
}
@media only screen and (max-width: 768px) {
	header{
		height: 58px;
		background: rgba(255,255,255,.85);
	}
	.top{
		max-width: 90%;
	}
	.logo{
		margin-top: 10px!important;
		margin-bottom: 10px!important;
		width: 100%!important;
	}
	.logo a{
		background: no-repeat 100% 100%;
		background-image: url(../img/logo@2x.png)!important;
		width: 130px!important;
		height: 38px!important;
		float: left;
	}
	.mycollapse{
		display: block;
		float: right;
		width: 28px;
		height: 18px;
		box-sizing: content-box;
		padding: 6px;
		padding-top: 2px;
		border: 1px solid #fefefe;
		border-radius: 2px;
		background: none;
		margin-top: 4px;
		transition: all 0.2s;
	}
	
	.navlist a{
		line-height: 56px;
		color: #858585;
		text-align: left;
	}
	.navlist{
		display: none;
		position: absolute;
		left: 0;
		top: 58px;
		width: 100%;
		border-top: 1px solid #fff;
		float: left;
		background: rgba(255,255,255,.85);
	}
	.navlist li{
		float: none;
		padding-left: 6%;
		padding-right: 6%;
		margin: 0;
		transition: background-color 0.3s;
		border-bottom: 1px solid #fff;
	}
	.navlist li:hover{
		background: #eee;
	}
	#banner{
		background-size: 150%!important;
	}
}










